<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xactor -->
      <package
            uri="http://www.ptolemy.org/xactor"
            class="org.ptolemy.ecore.xactor.XactorPackage"
            genModel="src/org/ptolemy/ecore/xactor.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated caltrop -->
      <package
            uri="http://www.ptolemy.org/caltrop"
            class="org.ptolemy.ecore.caltrop.CaltropPackage"
            genModel="src/org/ptolemy/ecore/caltrop.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated caltrop -->
      <parser
            type=""
            class="org.ptolemy.ecore.caltrop.util.CaltropResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated actor -->
      <package
            uri="http://www.ptolemy.org/actor"
            class="org.ptolemy.ecore.actor.ActorPackage"
            genModel="src/org/ptolemy/ecore/actor.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated actor -->
      <parser
            type=""
            class="org.ptolemy.ecore.actor.util.ActorResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kernel -->
      <package
            uri="http://www.ptolemy.org/kernel"
            class="org.ptolemy.ecore.kernel.KernelPackage"
            genModel="src/org/ptolemy/ecore/kernel.genmodel"/>
   </extension>

</plugin>
