/ApplyInput1.java
/ApplyInput2.java
/Copier.java
/FoldChannels.java
/ReduceChannels.java
/SelectChannel.java
/.copier.java._trace
/.copier.java._trace
/.copier.java._trace
/.copier.java._trace
/.copier.java._trace
