/ApplyInput1.java
/ApplyInput2.java
/FoldChannels.java
/ReduceChannels.java
/SelectChannel1.java
/SelectChannelN.java
/copier.java
/ApplyInput1TestModel.java
/ApplyInput2TestModel.java
/FoldChannelsTestModel1.java
/FoldChannelsTestModel2.java
/ReduceChannelsTestModel1.java
/ReduceChannelsTestModel2.java
/SelectChannelNTestModel.java
