/double2int1String.java
/double2int1int.java
/doubleMulti1int1int.java
/doubleRepeat1int1int.java
/doubleRepeatMulti1Date1Date.java
/doubleRepeatMulti1int1int.java
/single1T1String.java
/single1int1String.java
/single1int1int.java
/singleRepeat1Integer1Integer.java
/singleRepeat1Integer3int.java
/singleRepeat1int1int.java
/singleRepeat1int3int.java
